@model updated_group_project.Models.Event[]

@{
    ViewData["Title"] = "Details";
}

@foreach (var item in Model)
{
    <ul class=“list-group”>
        <div class=“card” style=“width: 18rem;“>
            <img class=“card-img-top” src=“@Html.DisplayFor(modelItem =>  item.image.medium.url)/>

            <div class=“card-body”>
                <h5 class=“card-title”>@Html.DisplayFor(modelItem => item.title)</h5>
                <p class=“card-text”>@Html.DisplayFor(modelItem => item.start_time)</p>
                <p class=“card-text”>@Html.DisplayFor(modelItem => item.stop_time)</p>
                <a href=“#” class=“btn btn-primary”>See More</a>
            </div>
        </div>
    </ul>
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
    <link rel="stylesheet" href="~/css/styles.css">

    <title>User Homepage</title>

</head>
<body>
    <div class="wrapper">
        <header>
            <nav>
                <div class="menu-icon">
                    <i class="fa fa-bars fa-2x"></i>
                </div>
                <div class="logo">
                    <a href=""><img src="./images/ABL.png" alt="America's Bucket List" class="logo"></a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="#">Events Details</a></li>
                        <li><a href="#">User Profile</a></li>
                    </ul>
                </div>
            </nav>
        </header>

    </div>
    <div class="container">
        <br />
        <div class="row">

            <span><h5 class="card-title">Concert In The Park</h5></span><span class=""><h5>Weather</h5></span>
            <div class="card details-card" style="width: 80%; ">

                <img src="./images/eventsIMG.jpg" class="card-img-top" alt="events-image">
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima maxime quam error rerum dolorem necessitatibus, itaque nam mollitia sit recusandae quibusdam debitis sed reprehenderit consectetur! Nulla voluptatem, ipsam est libero, officia quo cumque nesciunt reprehenderit illum in eius iure dolore.</p>
                </div>
            </div>

            <div class="card details-card" style="width: 80%; ">
                <div id="map" class="fh5co-map">
                </div>
            </div>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVKIX3iNXnmID_sgegfLv7ohlmlYVTPCo"></script>
    <script src="~/js/map.js"></script>
</body>
</html>

